#####################################################################
# KlackEnder- Macros
#####################################################################

[gcode_macro PROBE_OUT]
gcode:
  G90
  G1 X244 F4000
  G4 P300
  G1 Z20
  G1 X112
  G1 Y112

[gcode_macro PROBE_IN]
gcode:
  G90
  G1 Z20
  G1 X244 F12000
  G1 Y240 ; Check this against your config of [stepper_y] position_min: ...!
  G1 Z3
  G4 P300
  G1 X220 F6000
  G1 Z20
  G1 X112
  G1 Y112

[gcode_macro BED_MESH_CALIBRATE] #macro with parameter passing
rename_existing: _BED_MESH_CALIBRATE
gcode:
  PROBE_OUT
  _BED_MESH_CALIBRATE {rawparams}
  PROBE_IN

[gcode_macro G29] #reliant on the macro above
gcode:
  BED_MESH_CALIBRATE

[gcode_macro PROBE_CALIBRATE]
rename_existing: _PROBE_CALIBRATE
gcode:
  {% if not 'xyz' in printer.toolhead.homed_axes %}
  G28
  {% endif %}
  PROBE_OUT
  G90
  G1 Z20
  G1 X113.5 Y96.5 F12000 ; Readjust for center of bed adjusted for probe offset
  _PROBE_CALIBRATE
  TESTZ Z=20
  M117 Remove the Klack to continue calibration!

[gcode_macro PROBE_ACCURACY]
rename_existing: _PROBE_ACCURACY
gcode:
  {% if not 'xyz' in printer.toolhead.homed_axes %}
  G28
  {% endif %}
  PROBE_OUT
  G90
  G1 X113.5 Y96.5 F12000 ; Readjust for center of bed adjusted for probe offset
  _PROBE_ACCURACY {rawparams}
  PROBE_IN

##############################
# START PRINT MACRO
# (FULLY MERGED WITH SLICER G-CODE)   IF USING AUTO Z CAL, COMMENT OUT THIS MACRO
##############################

#[gcode_macro START_PRINT]
#gcode:

    # --- INPUTS ---
#    {% set BED = params.BED|default(75)|float %}
#    {% set EXTRUDER = params.EXTRUDER|default(235)|float %}

    # --- BASIC SETUP ---
#    G90
#    M83

    # --- TEMP PRE-WARM ---
#    M140 S{BED}         ; start bed heating
#    M104 S150           ; temporary nozzle temp
#    G4 S3               ; reduce oozing

    # --- HOME ---
#    G28
#    G1 Z50 F2400

    # --- WAIT FOR BED ---
#    M190 S{BED}

    # --- BED MESH ---
#    BED_MESH_CLEAR
#    BED_MESH_CALIBRATE ADAPTIVE=1

    ## --- FIX PROBE PARKING: move to prime area ---
    ##G1 X2 Y10 Z5 F6000
#    Smart_Park #KAMP

    # --- FINAL NOZZLE HEAT ---
#    M104 S{EXTRUDER}
#    M109 S{EXTRUDER}

    ## --- PURGE LINE ---
    #G92 E0
    #G1 Z0.3 F300
    #G1 X2 Y10 F3000
    #G1 Y140 E12 F1500
    #G1 Z0.28 F300
    #G1 E-1 F2400
    #G92 E0
#    LINE_PURGE #KAMP

    # --- READY ---
    #G1 Z2 F2400 #Uncomment if KAMP is removed
#    M118 Printing started.


##############################
# END PRINT MACRO
##############################

[gcode_macro _END_PRINT]
gcode:
    # Read current and max Z from Klipper
    {% set cur_z = printer.toolhead.position.z %}
    {% set max_z = printer.toolhead.axis_maximum.z %}

    # Lift Z by 2 mm but never exceed max Z
    {% set lift1 = cur_z + 2 if (cur_z + 2) < max_z else max_z %}
    G1 Z{lift1} F600

    # Move toolhead to presentation position
    G1 X5 Y{printer.toolhead.axis_maximum.y * 0.8} F6000

    # Lift further by +70 mm but stay within limits
    {% set lift2 = cur_z + 70 if (cur_z + 70) < max_z else (max_z - 25) %}
    G1 Z{lift2} F600

    # Lift to 60% of Z-height if print was very short
    {% set lift3 = max_z * 0.6 %}
    {% if cur_z < lift3 %}
        G1 Z{lift3} F600
    {% endif %}

    # --- HOT RETRACT TO PREVENT OOZING ---
    #{% if printer.extruder.temperature > 160 %}
    #    M83                     ; Relative extrusion
    #    G1 E-2.0 F1800          ; Hot retract 2mm
    #    M82                     ; Restore absolute extrusion
    #{% endif %}

    # Cooling wait
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=50
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM=40

    # Turn off heaters and fans
    M104 S0
    M140 S0
    M107

    # Disable motors
    M84 X Y E



##############################
# TEST_SPEED MACRO
##############################

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED